* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
header,
footer,
nav,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 14;
  font-weight: 400;
  line-height: 1.2;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  margin: 0;
}
a,
a:visited {
color: inherit;
text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
    vertical-align: top;
}
p {
  width: auto;
  overflow-wrap: break-word;
}
.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

/*header*/
.header {
    width: 100%;
    border: 0;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    height: 100px;
    border: 0;
}
.header__logo>img {
  height: 100%;
}
.menu {
    margin-right: 70px;
    text-transform: uppercase;
}
.menu__list {
    display: flex;
    width: 404px;
}
.menu__item {
    justify-content: space-between;
}
.menu__link {
    padding: 43px 20px;
}
.menu__link:hover {
    background-color: black;
    color:white;
    transition: all 1s;
}
.main {
  border: 0;
}

/*cover*/
.bike__wrapper {
    display: flex;
    margin: 80px 0;
}
.bike__slider-column {
  flex-basis: 630px;
  margin-left: 30px;
  max-width: 630px;
} 
.bike__slider .slick-dots{
  right: 0;
  top: 50px;

}
.slick-dots {
  position: absolute;

}
.slick-dots li + li {
  padding-top: 10px;

}
.slick-dots button {
  font-size: 0;
  padding: 0;
  border: none;
  background-color: #131313;
  width: 2px;
  height: 25px;
  border-radius: 7px;
}
.slick-active button,
.slick-dots button:hover {
  background-color: #FF4040;
  transition: all 0.6s;
}




.title__bike__discription {
  padding-top: 60px;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 64px;
}
.subtitle__bike__discription {
  font-family: 'Inter';
  font-weight: 400;
  color: #6F6F6F;
  font-size: 32px;
  margin: 5px 0 60px 0;
}
.text1__bike__discription {
  width: 420px;
}
.text2__bike__discription {
  width: 420px;
  margin: 20px 0 80px 0;
}
.bike__order__box {
  width: 420px;
  height: 80px;
  color: white;
  background-color: black;
  padding: 28px 81px;
 }
.bike__order__box:hover {
  background-color: #FF4040;
  transition: all 0.6s;
}
.bike__order__button {
  font-family: 'Inter';
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  text-transform: uppercase;

  display: block;
}



.bike__specification {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  margin-left: 60px;
}
.bike__specification-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  min-width: 160px;
  min-height: 58px;

}
.specification-title {

  text-transform: uppercase;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 5px;
}
.specification-text {

  text-transform: lowercase;

  max-width: 160px;
  font-family: 'Inter';
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  margin: auto 0;
}


.more__info{
  width: 100%;
}
.info__wrapper {
  display: flex;
}
.text__wrapper {
  margin-left: 60px;
}
.more__info__item {
  margin-bottom: 50px;
}
.more__info__h {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}
.more__info__p {
  margin-top: 10px;
  font-family: 'Inter';
  line-height: 120%;
}
.table__wrapper {
  display: flex;
  margin: 30px 0;
}
.table__left {
  display: flex;
  flex-direction: column;
  width: 570px;
}
.h__table {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
td {
  font-family: 'Inter';
  font-size: 16px;
  line-height: 120%;
  height: 26px;
  width: 50%;
}
.photo__part {
  margin-top: 174px;
  margin-left: 60px;
}

.h__table__item {
  color: white;
  background-color: black;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  text-transform: uppercase;
}
.tr__space>td {
  height: 16px;
}

/*slider-gallery*/
.slider-gallery {
  display: flex;
  margin-top: 90px;
  margin-bottom: 50px;
}
.slider__items .slick-dots {
  top: 0;
  left: 0;
}
.slider__item {
  padding-left: 50px;
}
.gallery__img {
}
/*order-form*/
.order-box__wrapper {
  position: relative;


}
.order-form {
  max-width: 460px;
}
.order-form__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #131313;
}
.order-form__text {
  font-family: 'Inter';
  margin: 41px 0 30px;
  max-width: 340px;
  font-style: 14px;
  line-height: 1.2;
  color: #131313;
}
.order-formr__imput-name,
.order-form__imput-phone {
  width: 100%;
  border-bottom: 1px solid #6f6f6f83;
  padding-bottom: 10px;
  margin-bottom: 20px;

}
.order-formr__imput-name::placeholder,
.order-form__imput-phone::placeholder {
  color: #6F6F6F;
  opacity: 0.5;
}


.order-form__lable-box {
  display: flex;
  margin-bottom: 50px;
}
.lable-box__lable + .lable-box__lable {
  margin-left: 23px;
}
.order-form__input-text {
  color: #6F6F6F;
  opacity: 0.5;
  margin-bottom: 15px;
}
.lable-box__input-radio {  /*прячем дефолтные радио-кнопки*/
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0);
}
.lable-box__input-radio:checked + .lable-box__img {
  display: block;
  position: absolute;
  top: 24px;
  right: 0;
} /*включаем видимость соседнего блока, если радио-кнопка checked */

.lable-box__img {
  display: none;
}
.lable-box__price {
  position: absolute;
  top: 40px;
  right: 540px;

  font-size: 32px;
  line-height: 39px;
  color: #131313;
}
.lable-box__radio-style {
  width: 80px;
  height: 12px;
  border-radius: 30px;
  
}
.lable-box__radio-style--grey {
  background-color: #6F6F6F;
}
.lable-box__radio-style--wigth {
  background-color: #fff;
  border: 1px solid #6F6F6F;
}
.lable-box__radio-style--red {
  background-color: #FF4040;
}
.order-form__btn {
  width: 100%;
  height: 80px;
  color: white;
  background-color: black;
  padding: 28px 68px 28px 81px;

  font-family: 'Inter';
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  color: #FFFFFF;

  text-align: center;
}
.order-form__btn:hover {
  background-color: #FF4040;
  transition: all 0.6s;
}
/*footer*/
.footer {
  margin-top: 100px;
  background-color: #131313;
}
.footer__wrapper {
  padding: 20px 0;
  min-height: 30px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
}
.footer__text {
}
.footer__social {
  display: flex;
  justify-content: space-between;
}
.social-icon + .social-icon {
  margin-left: 26px;
}
.footer__contacts {
  
}
.contacts__item {
  display: flex;
  justify-content: flex-start;
}
.contacts__item + .contacts__item {
  margin-top: 10px;
}
.contacts-icon {
}
.contacts-text {
  margin-left: 15px;
}